<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Client Receiver</title>
    <style>
        .real-time-image {
            margin: 0px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div>
        <img src="" alt="Real TIme Image" id="real-time-image">
    </div>

</body>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

<script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}"></script>

<script>
        window.onload = () => {
            // setInterval(() => {
            //     location.reload();
            // }, 25_000)
            var socket = new SockJS('/web-socket');
            stompClient = Stomp.over(socket);
            stompClient.connect({ userId: 'abc' }, function (frame) {
                // setConnected(true);
                // console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings-imran', function (greeting) {
                    // console.log(greeting);
                    const base64Imgurl = greeting.body;
                    const src = "data:image/jpeg;base64," + base64Imgurl;
                    const imgElement = document.getElementById('real-time-image');
                    imgElement.setAttribute('src',src);

                    // var imageUrl = urlCreator.createObjectURL(JSON.parse(greeting.body));
                    // document.querySelector("#image").src = imageUrl;
                });
            });
        }
</script>

</html>